{{#section 'site-specific_css'}}
    <link rel="stylesheet" href="/admin/css/landing_panel.css" >
{{/section}}
<div id="absurd-blockquote-wrapper">
    <blockquote class="blockquote shadow-lg" data-id="{{id}}" id="absurd-blockquote-card">
        <p>
            <i class="fas fa-quote-left fa-xs"></i>
            {{content}}
            <i class="fas fa-quote-right fa-xs"></i>
        </p>
        <footer>-{{author}}</footer>
        <div id="absurd-blockquote-operators">
            <button type="submit" class="border rounded-circle shadow" id="next-blockquote" onclick="location.href='/admin-panel'"><i class="fas fa-redo"></i></button>
            {{!-- refactoring animative ajax --}}
            <button class="border rounded-circle shadow" data-toggle="modal" data-target="#modalAdd"><i class="fas fa-plus"></i></button>
            <button class="border rounded-circle shadow"><i class="fas fa-pen"></i></button>
            <button id="deleteButton" class="border rounded-circle shadow" data-toggle="modal" data-target="#modalDelete"><i class="fas fa-trash"></i></button>
        </div>
    </blockquote>

    <div class="modal fade-scale" id="modalAdd">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Add New Inspiration</h5>
                    <button type="button" class="btn btn-sm ml-2 btn-secondary border rounded-circle" data-toggle="tooltip" data-placement="right" title="Period signifies completeness. For fuck's sake.">
                        <i class="fas fa-question"></i>
                    </button>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/admin-panel/quote/add" method="POST" id="formAdd">
                        <div class="form-group">
                            <label for="contentField">Quote: </label>
                            <textarea name="quoteField" class="form-control" id="quoteField" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="authorField">Author: </label>
                            <input type="text" name="authorField" class="form-control" id="#authorField" required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" form="formAdd">Submit</button> {{!-- handle submit by redirecting, where to redirect? --}}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>I hope you know what you are doing</p>
                    <small class="target-info font-italic"></small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-delete-confirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- ajax  --}}
{{#section 'jquery'}}
    <script>
        $("#modalDelete").on('show.bs.modal', function(event){
            //binding target_data to modal
            const target_id = $(event.relatedTarget).parents('blockquote').data("id");
            $(this).find('.target-info').text(`Record being deleted: ${target_id}`);
            $(this).find('.btn-delete-confirm').data("id", target_id);
        })
        $("#modalDelete").on('hidden.bs.modal', function(event){
            //clearing modal
            $(this).find('.target-info').text('');
            $(this).find('.btn-delete-confirm').removeData();
        })
        $('#modalDelete .btn-delete-confirm').on('click', function(event){
            const target_id = $(this).data('id');
            
            $(this).prop("disabled", true);
            $(this).text("Deleting...");

            fetch("/admin-panel/quote/delete", {
                method: "POST", 
                body: JSON.stringify({
                    id: target_id
                }),
                redirect: 'follow',
                headers: {
                    'Content-Type' : 'application/json'
                }
            }).then(res => {
                if(res.redirected)  window.location = res.url
            }).catch(err => console.log(err))
        })

    </script>
{{/section}}