* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-top: 15px;
}
#doodle-wrapper{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#doodle-wrapper .tools{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#doodle-wrapper .tools > button {
    width: auto; 
    height: 30px;
    margin-top: 3px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
#doodle-wrapper .tools > button:first-child {
    margin-top: 0;
}
#doodle-wrapper .tools > button:hover{
    background-color: rgb(172, 168, 168);
}
#doodle-wrapper .tools > button#bucket.activated{
    background-color: rgb(172, 168, 168);
}
#doodle-wrapper canvas{
    border: 2px solid black;
}
#doodle-wrapper .colors{
    display: flex;
    flex-direction: column;
}
#doodle-wrapper .colors > button {
   width: 25px;
   height: 25px;
   outline: 1px black solid;
   outline-offset: 1px;
   border: 1px solid black;
   margin-top: 5px;
   margin-right: 2px;
}
#doodle-wrapper .colors > button:first-child{
    margin-top: 2px;
}
#doodle-wrapper .colors > button.picked{
    outline: 1px black dashed;
}


body > div.component.hide{
    visibility: hidden;
}

/*game wrapper*/
#game{
    position: relative;
    height: 90%;
    width: 100%;
}
#game #users-box{
    width: 15%;
    position: absolute;
    background-color: white;
    height: 500px;
    left: 0;
    border: 2px solid grey;
}
#users-box .user-box{
    height: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: auto;
}
#game #chat-box{
    width: 25%;
    background-color: white;
    height: 500px;
    position: absolute;
    right: 0;
    border: 2px solid grey;
}
#chat-box .chat{
    height: fit-content;
}
#chat-box form{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#chat-box form input{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
/* identification form */
#identification{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#identification form > input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    outline: none;
}
form input:focus{
    border: 1px solid rgb(75, 75, 75) !important;
}
input.hide {
    visibility: hidden;
}