#reflections-wrapper{
    width: 100%;
    height: 100%;
    background-color: #eeedf8;
    overflow: auto;
}

.container#ruminations-container{
    padding: 25px 30px 0 30px;
    font-size: 100%;
}

#ruminations-grid .row > div{
    /* adding vertical & fix horizontal padding between elements + unspecified children(cols) per row 
    + invisible structure */ 
    padding: 10px;
}

.rumination-card{
    border-radius: 5px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.rumination-image{
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    transition: all 0.4s cubic-bezier(0.35, 0.97, 0.52, 1);
}
.rumination-image img{
    width: 100%;
    height: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.97, 0.52, 1);
}
.rumination-content{
    position: absolute;
    bottom: 0;
    transform: translateY(150px);
    transition: all 0.4s cubic-bezier(0.35, 0.97, 0.52, 1);
    width: 100%;
    text-align: center;
    padding: 15px 5px 5px 5px;
    background-color: white;
}
.rumination-title{
    height: 50px;
}
.rumination-title a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
    background-image: linear-gradient(purple, purple);
    background-position: 0% 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
}
.rumination-title a:hover{
    background-size: 100% 2px;
}

.rumination-extras{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: grey;
    font-style: italic;
}
.rumination-actions{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    font-size: 1.2rem;
}
.rumination-card:hover rumination-image{
    height: 200px;
}
.rumination-card:hover img{
    opacity: 0.8;
    transform: scale(1.4) rotate(10deg);
}
.rumination-card:hover .rumination-content{
    transform: translateY(0);
}
.rumination-card:hover .rumination-actions{
    visibility: visible;
}
